pipeline/step0_download_genotype/data/
pipeline/step1_surrogate_parents/data/
pipeline/step2_interchromosomal_phasing/data/
pipeline/step3_parental_side_determination/step0_chrX_ibd/data/
pipeline/step3_parental_side_determination/step1_sibling_score/data/
pipeline/step3_parental_side_determination/step2_mtDNA/data/
pipeline/step3_parental_side_determination/step3_combined_predictors/data/
pipeline/step3_parental_side_determination/step3_combined_predictors/PofO_probability.txt
pipeline/step3_parental_side_determination/step3_combined_predictors/Rplots.pdf
pipeline/step3_parental_side_determination/step3_combined_predictors/Plots/
pipeline/step4_impute_haplotypes/data/
pipeline/step5_encode_parental_haplotypes/data/
test/debug/06012026/.RData
test/debug/06012026/out/KGP.chr20.thorin.full.prob
